<p id="notice"><%= notice %></p>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-4 col-lg-4">
      <%= image_tag(@product.image_url, class: "img-responsive img-zoom", data_zoom_image: "product.image_url") %>

      <%= render "new_comment" %>
      
      <%= render "comments" %>
      
      <%= will_paginate @comments %>
    </div>

    <div class="col-sm-12 col-md-8 col-lg-8">
      <h2><%= @product.name %></h2>

      <p><strong><i>Average Rating: </i></strong><div class="rated" data-score="<%= @product.avg_rating %>"></div></p>

      <p><strong><%= @product.description %></strong></p>

      <p>
        <strong>Size:</strong>
        <%= @product.size %>
      </p>

      <p>
        <strong>Price:</strong>
        <%= @product.price %>
      </p>

      <!-- Stripe payment render -->
      <%= form_tag "/payments/create" do %>
        <%= hidden_field_tag(:product_id, @product.id) %>
        <%= render partial: "shared/stripe_checkout_button" %>
      <% end %>

      <%= link_to 'Edit', edit_product_path(@product) %> |
      <%= link_to 'Back', products_path %>
    </div>
  </div>
</div>
