<!DOCTYPE html>
<html>
<head>
  <title>Tom's Growshop</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <!-- Hotjar Tracking Code for tomgrow.herokuapp.com -->
  <script>
      (function(h,o,t,j,a,r){
          h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
          h._hjSettings={hjid:786368,hjsv:6};
          a=o.getElementsByTagName('head')[0];
          r=o.createElement('script');r.async=1;
          r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
          a.appendChild(r);
      })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
  </script>
</head>
<body>
  <!-- Flash messages below -->
  <% if notice %>
    <p class="alert alert-info" role="alert"><%= notice %></p>
  <% end %>

  <% if alert %>
    <p class="alert alert-danger" role="alert"><%= alert %></p>
  <% end %>

  <script>$(".alert").delay(3000).fadeOut();</script>

  <!-- Main Navbar starts here -->
  <nav class="navbar navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse"
        data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to image_tag("brand.png", class: "img-responsive", alt: "Brand"), index_path, class: "navbar-brand" %>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li>
            <% if user_signed_in? %>
              <%= "Hi #{current_user.username}" %>
              <%= link_to('<span class="glyphicon glyphicon-log-out"></span> Logout'.html_safe, destroy_user_session_path, :method => :delete) %>
            <% else %>
              <%= link_to('<span class="glyphicon glyphicon-log-in"></span> Login'.html_safe, new_user_session_path) %>
              <li>
                <%= link_to('<span class="glyphicon glyphicon-user"></span> Register'.html_safe, new_user_registration_path) %>
              </li>
            <% end %>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Products<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to "List", products_path %></li>
            </ul>
          </li>
          <li>
          <%= form_tag("/products", method: "get", class: "navbar-form") do %>
            <%= label_tag(:q, "Search for:", class: "sr-only") %>
            <%= text_field_tag(:q, nil, :placeholder => "search products", class: "form-control") %>
            <%= button_tag(type: "submit", class: "btn btn-default") do %>
              <span class="glyphicon glyphicon-search"></span>
            <% end %>
          <% end %>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Contact Us", contact_path %></li>
          <li><%= link_to "About Us", about_path %></li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Navbar end -->
  <%= yield %>

  <footer class="footer">
    <div class="container">
      <p class="text-muted">&copy; Tom's Growshop by TGD - All rights reserved - 2016</p>
    </div>
  </footer>

</body>
</html>
