<!DOCTYPE html>
<html>
<head>
  <title>Tom's Growshop</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- Main Navbar starts here -->
  <nav class="navbar navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse"
        data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">
          <%= image_tag("brand.png", class: "img-responsive", alt: "Brand") %> <!-- need source image still-->
        </a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="#"><span class="glyphicon glyphicon-user"></span> Register</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Products<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Placeholder 1</a></li>
              <li><a href="#">Placeholder 2</a></li>
              <li><a href="#">Placeholder 3</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">About Us</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Navbar end -->
  <%= yield %>

  <footer class="footer">
    <div class="container">
      <p class="text-muted">&copy; Tom's Growshop by TGD - All rights reserved - 2016</p>
    </div>
  </footer>

</body>
</html>
